@using Microsoft.AspNetCore.Identity
@using Calendar.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.Identity.IsAuthenticated)
{
    string displayName = User.Claims.Where(m => m.Type == "displayName").SingleOrDefault().Value;
    //var c = User.Claims.Where(m => m.Type == "displayName");
    //if (c.Count() > 0) { displayName = c.First().Value; }
    

    <form asp-area="" asp-controller="User" asp-action="LogOut" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@displayName</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (Context.Request.Path != "/User/Login")
        {
            <li><a asp-area="" asp-controller="User" asp-action="Login" asp-route-returnUrl="@Context.Request.PathBase@Context.Request.Path@Context.Request.QueryString">Log in</a></li>        
        }
    </ul>
}


